ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current
{
    background: #03A9F4;
    color: white;

}
.ui-datepicker .ui-datepicker-buttonpane button
{
    background: #03A9F4;
    color: white;
}
.ui-fluid .ui-selectonemenu
{

    margin-top: -1px;
}
#mierdsa
{
    margin-top: -4px;
}
.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options{    
    background: transparent;
    color: white;
    border: 0px;
    border-bottom: 2px solid white;
    outline: none;
}
.lblFormGray
{
   color: #9A9A9A; 
}
.text-center
{
    
    text-align: center;
}
.btnSizeMitad
{
    width: 50%;
}
@media screen and (max-width: 600px) 
{

    #mierdsa
    {

        margin-top: 0px;
    }

}

