<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">

        <h:form>
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12">
                        <div class="card card-w-title">
                            <div  class="ui-g ui-lg-12">
                                <div class="ui-g-12  ui-md-6 ui-lg-4">
                                    <h:panelGroup>
                                        <div class="ui-md-12">
                                            <p:outputLabel value="Sedes" for="somSedes" styleClass="lblFormGray" /> 

                                        </div>
                                        <div class="ui-md-12">
                                            <p:selectOneMenu id="somSedes"  >
                                                <f:selectItem itemLabel="Seleccione Uno" itemValue="#{null}" />
                                            </p:selectOneMenu> 
                                        </div>
                                    </h:panelGroup>
                                </div>
                                <div class="ui-g-12  ui-md-6 ui-lg-4">
                                    <h:panelGroup>
                                        <div class="ui-md-12">
                                            <p:outputLabel value="Estacionamientos" for="somEstacionamientos"  styleClass="lblFormGray"/>
                                        </div>
                                        <div class="ui-md-12">
                                            <p:selectOneMenu id="somEstacionamientos"  >
                                                <f:selectItem itemLabel="Seleccione Uno" itemValue="#{null}" />
                                            </p:selectOneMenu>
                                        </div>
                                    </h:panelGroup>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-4">
                                    <h:panelGroup>
                                        <div class="ui-md-12">
                                            <p:outputLabel value="Carril Entrada" for="somCarrilEntrada"  styleClass="lblFormGray" />
                                        </div>
                                        <div class="ui-md-12">
                                            <p:selectOneMenu id="somCarrilEntrada" style="margin-bottom: 1px;" >
                                                <f:selectItem itemLabel="Seleccione Uno" itemValue="#{null}" />
                                            </p:selectOneMenu>
                                        </div>
                                    </h:panelGroup>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <h:panelGroup>
                                        <div class="ui-md-12">
                                            <p:outputLabel value="Fecha Inicio" for="inputFechaInicio"  styleClass="lblFormGray"/>
                                        </div>
                                        <div class="ui-md-12">
                                            <p:calendar id="inputFechaInicio" showButtonPanel="true" locale="es" pattern="dd/MM/yyyy HH:mm a" />
                                        </div>
                                    </h:panelGroup>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6">

                                    <h:panelGroup>
                                        <div class="ui-md-12">
                                            <p:outputLabel value="Fecha Fin" for="inputFechaFin"  styleClass="lblFormGray"/>

                                        </div>
                                        <div class="ui-md-12">
                                            <p:calendar id="inputFechaFin" showButtonPanel="true" locale="es" pattern="dd/MM/yyyy HH:mm a" />

                                        </div>
                                    </h:panelGroup>
                                </div>
                                <div class="ui-g-12" style="text-align: center;">
                                        <p:commandButton  value="Consultar" icon="ui-icon-search"  actionListener="#{beanUser.registrarUsuario(egt)}" iconPos="left" style="width:50%;" ajax="false" />
                                </div>
                            </div>

                        </div>

                        <div class="card card-w-title">

                            <p:dataTable var="car" paginator="true"   rowsPerPageTemplate="5,10,15" rows="5" value="#{dtBasicView.cars}" reflow="true" selectionMode="single" selection="#{dtSelectionView.selectedCar}" rowKey="#{car.id}">
                                <f:facet name="header">
                                    Cargas
                                </f:facet>
                                <p:column headerText="Id Arqueo" sortBy="#{car.id}">
                                    <h:outputText value="#{car.id}" />
                                </p:column>

                                <p:column headerText="Fecha Inicio" sortBy="#{car.year}">
                                    <h:outputText value="#{car.year}" />
                                </p:column>

                                <p:column headerText="Valor" sortBy="#{car.brand}">
                                    <h:outputText value="#{car.brand}" />
                                </p:column>
                                <p:column headerText="Id Usuario" sortBy="#{car.color}">
                                    <h:outputText value="#{car.color}" />
                                </p:column>
                                <p:column headerText="Id Modulo" sortBy="#{car.color}">
                                    <h:outputText value="#{car.year}" />
                                </p:column>
                                <p:column headerText="Id Estacionamiento" sortBy="#{car.color}">
                                    <h:outputText value="#{car.sold}" />
                                </p:column>
                                <p:column headerText="Tipo" sortBy="#{car.color}">
                                    <h:outputText value="#{car.sold}" />
                                </p:column>
                                <p:column>
                                    <p:commandButton icon="fa fa-refresh" />
                                    <p:commandButton icon="fa fa-plus-square-o" />
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

    </ui:define>

</ui:composition>