<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">

        <h:form>
            <div class="ui-fluid">
                <div class="ui-g">
                    <p:tabMenu activeIndex="#{param.i}">
                        <p:menuitem value="Autorizados" outcome="Autorizados" icon="fa fa-unlock">
                            <f:param name="i" value="0" />
                        </p:menuitem>
                        <p:menuitem value="Autorizaciones" outcome="Autorizaciones" icon="fa fa-lock">
                            <f:param name="i" value="1" />
                        </p:menuitem>
                    </p:tabMenu>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="card card-w-title">
                            <div  class="ui-g ui-lg-12">
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <h:panelGroup>
                                        <div class="ui-md-12">
                                            <p:outputLabel value="Sedes" for="somSedes" styleClass="lblFormGray" /> 

                                        </div>
                                        <div class="ui-md-12">
                                            <p:selectOneMenu id="somSedes"  >
                                                <f:selectItem itemLabel="Todos" itemValue="#{null}" />
                                            </p:selectOneMenu> 
                                        </div>
                                    </h:panelGroup>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <h:panelGroup>
                                        <div class="ui-md-12">
                                            <p:outputLabel value="Estacionamientos" for="somEstacionamientos"  styleClass="lblFormGray"/>
                                        </div>
                                        <div class="ui-md-12">
                                            <p:selectOneMenu id="somEstacionamientos"  >
                                                <f:selectItem itemLabel="Todos" itemValue="#{null}" />
                                            </p:selectOneMenu>
                                        </div>
                                    </h:panelGroup>
                                </div>
                                <div class="ui-g-12 text-center">
                                    <p:commandButton  value="Consultar" icon="ui-icon-search"  actionListener="#{beanUser.registrarUsuario(egt)}" iconPos="left" style="width:50%;" ajax="false" />
                                </div>
                            </div>
                        </div>


                        <div class="card card-w-title">

                            <p:dataTable  var="car" paginator="true"  rowsPerPageTemplate="5,10,15" rows="5" value="#{dtBasicView.cars}" reflow="true"  selection="#{dtSelectionView.selectedCars}" rowKey="#{car.id}">
                                <f:facet name="header">
                                    Autorizados
                                </f:facet>
                                <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                                <p:column headerText="Documento" sortBy="#{car.id}">
                                    <h:outputText value="#{car.id}" />
                                </p:column>

                                <p:column headerText="Nombre y apellido" sortBy="#{car.year}">
                                    <h:outputText value="#{car.year}" />
                                </p:column>

                                <p:column headerText="Fecha Creacion" sortBy="#{car.brand}">
                                    <h:outputText value="#{car.brand}" />
                                </p:column>

                                <p:column headerText="Documento Usuario Creador" sortBy="#{car.color}">
                                    <h:outputText value="#{car.color}" />
                                </p:column>
                                <p:column headerText="Estado" sortBy="#{car.color}">
                                    <h:outputText value="#{car.color}" />
                                </p:column>
                                <p:column headerText="Nombre Estacionamiento" sortBy="#{car.color}">
                                    <h:outputText value="#{car.year}" />
                                </p:column>
                                <p:column>
                                    <p:commandButton icon="fa fa-location-arrow" style="margin-right: 10px;"/>
                                    <p:commandButton icon="fa fa-pencil"/>
                                </p:column>
                                <f:facet name="footer">
                                    <p:commandButton  value="Nuevo" icon="fa fa-plus" styleClass="btnSizeMitad"/>
                                </f:facet>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

    </ui:define>

</ui:composition>