<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Dashboard</ui:define>

    <ui:define name="head">
        <script type="text/javascript">
            //<![CDATA[
            function skinChart() {
                this.cfg.shadow = false;
                this.cfg.title = '';
                this.cfg.seriesColors = ['#FFC107', '#03A9F4'];
                this.cfg.grid = {
                    background: '#ffffff',
                    borderColor: '#ffffff',
                    gridLineColor: '#EEEEEE',
                    shadow: false
                };
                this.cfg.axesDefaults = {
                    rendererOptions: {
                        textColor: '#212121'
                    }
                };
                this.cfg.seriesDefaults = {
                    shadow: false,
                    lineWidth: 1,
                    markerOptions: {
                        shadow: false,
                        size: 7,
                        style: 'circle'
                    }
                }
            }
            //]]>  
        </script>
        <style type="text/css">
            .main-content {
                padding: 0;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <div class="ui-g dashboard">
            <div class="ui-g-12 ui-md-6">
                <div class="card overview">
                    <div class="overview-content clearfix">
                        <span class="overview-title">Ingresos Diarios</span>
                        <span class="overview-badge">+%90</span>
                        <span class="overview-detail">$2.500.000 / Semana</span>
                    </div>
                    <div class="overview-footer">
                        <p:graphicImage name="images/dashboard/sales.svg" library="ultima-layout" style="width: 100%" />
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="card overview">
                    <div class="overview-content clearfix">
                        <span class="overview-title">Usuarios</span>
                        <span class="overview-badge">+%10</span>
                        <span class="overview-detail">2.100/ Dia</span>
                    </div>
                    <div class="overview-footer">
                        <p:graphicImage name="images/dashboard/progress.svg" library="ultima-layout" style="width: 100%" />
                    </div>
                </div>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card colorbox colorbox-1">
                    <div class="ui-g-4">
                        <i class="material-icons">&#xE86C;</i>
                    </div>
                    <div class="ui-g-8">
                        <span class="colorbox-name">Espacios Libres</span>
                        <span class="colorbox-count">50</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card colorbox colorbox-2">
                    <div class="ui-g-4">
                        <i class="material-icons">&#xE8C9;</i>
                    </div>
                    <div class="ui-g-8">
                        <span class="colorbox-name">Ingresos ultima hora</span>
                        <span class="colorbox-count">700.000</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card colorbox colorbox-3">
                    <div class="ui-g-4">
                        <i class="material-icons">&#xE160;</i>
                    </div>
                    <div class="ui-g-8">
                        <span class="colorbox-name">Problemas</span>
                        <span class="colorbox-count">4</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card colorbox colorbox-4">
                    <div class="ui-g-4">
                        <i class="material-icons">&#xE0BE;</i>
                    </div>
                    <div class="ui-g-8">
                        <span class="colorbox-name">Mensajes</span>
                        <span class="colorbox-count">10</span>
                    </div>
                </div>
            </div>


            <div class="ui-g-12 ui-md-8">
                <h:form>
                    <div class="card">

                        <p:panel header="Reportes Graficos" style="margin-bottom:20px;">
                            <p:chart type="line" model="#{chartDemoView.lineModel2}" responsive="true"/>
                        </p:panel>


                    </div>
                </h:form>
            </div>
            <div class="ui-g-12 ui-md-4">
                <h:form>
                    <div class="chat">
                        <p:panel header="Chat al instante" styleClass="ui-shadow-content">
                            <ul>
                                <li class="clearfix message-from">
                                    <p:graphicImage name="images/avatar2x.jpg" library="ultima-layout" />
                                    <span>Bievenido al chat de Development System S.A ¿En que le puedo ayudar?</span>
                                </li>
                                <li class="clearfix message-own">
                                    <p:graphicImage name="images/profile-image.png" library="ultima-layout" />
                                    <span>Hola. Actualmente tengo un problema con el modulo de transacciones</span>
                                </li>
                                <li class="clearfix message-from">
                                    <p:graphicImage name="images/avatar2x.jpg" library="ultima-layout" />
                                    <span>Con gusto sera atentida su solicitud. Porfavor me podria dar su nombre y su cargo</span>
                                </li>
                                <li class="clearfix message-own">
                                    <p:graphicImage name="images/profile-image.png" library="ultima-layout" />
                                    <span>Mi nombre es Elena aristizabal y soy la desarrolladora de software.</span>
                                </li>
                            </ul>
                            <div class="new-message">
                                <div class="message-attachment">
                                    <i class="fa fa-paperclip" />
                                </div>
                                <div class="message-input">
                                    <input type="text" placeholder="Escribe un mensaje" />
                                </div>
                            </div>
                        </p:panel>
                    </div>
                </h:form>
            </div>

            

            <div class="ui-g-12">
                <p:panel header="Organiza tus reuniones" style="height:100%">
                    <p:schedule value="#{scheduleView.eventModel}" style="height: 50%" locale="es"/>
                </p:panel>
            </div>
            
            <div class="ui-g-12 ui-md-6 ui-lg-6 ui-fluid contact-form">
                <p:panel header="Contactenos">
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <p:selectOneMenu id="console" value="#{selectOneMenuView.console}" autoWidth="false">
                                <f:selectItem itemLabel="Seleccione una opción" itemValue="" />
                                <f:selectItem itemLabel="Reporte" itemValue="Xbox One" />
                                <f:selectItem itemLabel="Queja" itemValue="PS4" />
                                <f:selectItem itemLabel="Sugerencia" itemValue="Wii U" />
                                <f:selectItem itemLabel="Felicitacion" itemValue="Wii U" />
                            </p:selectOneMenu>
                        </div>
                        <div class="ui-g-12">
                            <h:panelGroup styleClass="md-inputfield">
                                <p:inputText />
                                <label>Nombre</label>
                            </h:panelGroup>
                        </div>
                        <div class="ui-g-12">
                            <h:panelGroup styleClass="md-inputfield">
                                <p:inputText />
                                <label>Telefono</label>
                            </h:panelGroup>
                        </div>
                        <div class="ui-g-12">
                            <h:panelGroup styleClass="md-inputfield">
                                <p:inputText />
                                <label>Mensaje</label>
                            </h:panelGroup>
                        </div>
                    </div>
                    <p:commandButton type="button" value="Enviar" icon="ui-icon-send"></p:commandButton>
                </p:panel>
            </div>
            <div class="ui-g-12 ui-lg-6 contacts">
                <p:panel header="Contactos">
                    <ul>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar1.png" library="ultima-layout" width="45"/>
                                <span class="name">Soporte</span>
                                <span class="email">soporte@developmentsystem.com</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar2x.jpg" library="ultima-layout" width="45"/>
                                <span class="name">Gerente</span>
                                <span class="email">gerencia@developmentsystem.com</span>
                            </a>
                        </li>
                    </ul>   
                </p:panel>
            </div>
        </div>
    </ui:define>

</ui:composition>